
<% include header.ejs %>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
            <center>
            <div class="">
                <label for="raport"><b>Raport incarcat</b></label><br>
                <center><a href="/assets/raport/test.pdf">Fisierul incarcat de dvs.!</a></center>
            </div>
        </center>
        </div>
</div>
<% include footer.ejs %>   
