<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App data</title>
     <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
   <script src="jquery-2.2.0.min.js"></script>
</head>
<body>
<div><center><img alt="User Pic" src="/pictures/antet.jpg" class="img-rectangle img-responsive"></center></div>
  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/dashboard">Acasa:</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="/profile">Profilul meu:</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="/select">Selectare:</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="/incarcafisier">Incarca:</a></li>
            </ul>
          
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/logout">Logout:</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/utilizatori-add">Users-add</a></li>
          </ul>  
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/utilizatori-admin">Users-show</a></li>
          </ul>  
          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/baza-manuale">Baza-man</a></li>
          </ul>
          
        
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
    </nav>
    

      